
<div class="col-6">

<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="first name" name="first_name">
  <label for="floatingInput">first name</label>
</div>
</div>
<div class="col-6">

<div class="form-floating">
  <input type="text" class="form-control" id="floatingInput" placeholder="Last name" name="last_name">
  <label for="floatingPassword">last name</label>
</div>
</div>
<div class="col-6">
<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="email@gmail.com" name="email">
  <label for="floatingInput">email</label>
</div>
</div>
<div class="col-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="phone number" name="phone">
  <label for="floatingInput">phone</label>
</div>
</div>
<div class="col-12">
<div class="form-floating mb-3">
  <textarea style="height:200px;" class="form-control" id="floatingInput" placeholder="comment" name="comments" rows="5"></textarea>
  <label for="floatingInput">comments</label>
</div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">submit</button>
</div>